/* main css */

* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

td {
    vertical-align: middle !important;
}

.both {
    float:right;
    padding-right: 10px;
}

td a:hover {
  background-color: #F0F0F0;
}

td a {
  padding-top: 10px;
  display:inline-block;
  height:100%;
  width:100%;
}

a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.playlist {
    font-weight: bold;
}

.title:hover {
    background-color: #ccc !important;
}

#footer {
    text-align:center;
}

h1 {
    background-color:#FFFFFF;
    text-align: center;
    margin-bottom: 5px;
    font-size: 36px;
}

h2 {
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

.headerspan {
    backgrond-color:#FFFFFF;
    width: 100%;
    height: 100%;
}

.titleimg {
    vertical-align: text-bottom;
    width: 50px;
    padding-right: 5px;
}

.mini-favicon {
  height: 15px;
  width: 15px;
  vertical-align: bottom;
  margin-right: 2px;
}


/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

.settings {
  text-align: center;
  padding: 5px;
  margin: 5px;
}
.button {
    background: #fefefe;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    padding: 5px;
    margin: 3px 0px;
}
.button a{
    text-shadow: 0 1px 2px rgba(255,255,255, 0.25);
    color: black;
}
.button:hover {
    background: #eee;
    cursor: pointer;
}
.left {
    border-left: 1px solid #444;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.middle {
    border-left: 1px solid #444;
    border-right: 1px solid #444;
}
.right {
    border-right: 1px solid #444;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}