/* main css */

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}


.both {
    float:right;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #036;
    cursor: pointer;
}

/* site */
h1 {
    background-color:#FFFFFF;
    margin: 5px 0px;
    font-size: 24px;
    font-weight: normal;
}

h2 {
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

h1, h2 {
  display: inline-block;
  vertical-align: top;
}

h2.festivals {
    display: block;
}

h1 img {
  max-height: 80px;
}

.sidebar h1 {
  margin: 0px 0px 15px 0px;
  width: 100%;
  max-width: 80%;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar h1 img {
  width: 20px;
  margin-right: 8px;
  margin-bottom: 5px;
  vertical-align: text-bottom;
}

.header {
    backgrond-color:#FFFFFF;
    width: 100%;
    height: 100%;
}

.titleimg {
    vertical-align: text-bottom;
    width: 50px;
    padding-right: 5px;
}

.mini-favicon {
  height: 15px;
  width: 15px;
  vertical-align: bottom;
  margin-right: 2px;
}


/* table */
div.container {
  font-size: 0;
}

#video-container {
  position: fixed;width: calc(55% - 15px);margin-top: 160px;padding: 20px;
}

#video-container div{
  position: relative;padding-bottom: 56.25%; /* 16:9 */padding-top: 25px;height: 0;
}

div.footer {
  text-align: center;
  margin-bottom: 30px;
}

div.content {
  width: 60%;
  position: fixed;
  text-align: center;
}

div.sidebar {
  position: absolute;
  top: 20px;
  right: 0;
  width: 40%;
}

div.row {
    height: 90px;
    position: relative;
    margin-bottom: 10px;
}

div.row.playing:hover {
  cursor: default;
}

div.row.playing:hover .title {
  color: black;
  text-decoration: none;
}

div.row.playing .title{
  background: url('/img/bars.gif') 0 2px no-repeat;
  text-indent: 20px;
}

div.row:hover {
  cursor: pointer;
}

div.row:hover .title {
  color: #036;
}

div.index {
  display: none;
}

div.row .image img{
  height: 90px;
}

div.row .title {
  font-size: 130%;
  max-height: 2.4em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

div.row .artist {
  display: block;
}

div.row .artist a:hover {
  text-decoration: underline;
}

div.row .image {
  position: absolute;
  top: 0;
  left: 0;
}

div.row .description {
  margin-left: 170px;
  line-height: 1.2;
}

div.row .views, div.row .artist {
  color: #767676
}

/* site */
.playlist {
    font-weight: bold;
}

#footer {
    text-align:center;
}



.settings {
  text-align: center;
  padding: 5px;
  margin: 5px;
}
.button {
    background: #fefefe;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    padding: 5px;
    margin: 3px 0px;
}
.button a {
    text-shadow: 0 1px 2px rgba(255,255,255, 0.25);
    color: black;
}
.button.selected {
  font-weight: bold;
  background: #eee;
}

.button:hover {
    background: #eee;
    cursor: pointer;
}
.left {
    border-left: 1px solid #444;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.middle {
    border-left: 1px solid #444;
    border-right: 1px solid #444;
}
.right {
    border-right: 1px solid #444;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media only screen and (max-width: 960px) and (orientation: landscape) {
  h1 {
    font-size: 20px;
    margin: 0px;
  }
  h1 img {
    max-height: 45px;
  }
  h2 {
    margin-top: 0px;
    font-size: 60%;
  }
  div.settings .button, 
  h2.options .button a,
  h2.options .button b {
    font-size: 80%;
  }
  h2.festivals, 
  div.settings .show {
    display: none;
  }
  #video-container {
    width:45%;
    margin-top:50px;
    padding:10px;
  }
  div.row {
    height: 60px;
  }
  div.row .title {
    font-size: 120%;
  }
  div.row .image img {
    height: 60px;
  }
  div.row .description {
    margin-left: 112px;
  }
  div.row .description,
  div.row .artist a,
  div.row .views {
    font-size:85%;
  }
  div.content, div.sidebar {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) { 
  h1 {
    font-size: 20px;
    text-align: center;
  }
  .sidebar h1 {
    max-width: 100%;
  }
  #video-container {
    width: 100%;
    margin-top: 0px;
  }
  div.settings .show {
    display: none;
  }
  div.row {
    height: 70px;
  }
  div.row .image img {
    height: 70px;
  }
  div.row .title {
    font-size: 110%;
  }
  div.row .description {
    margin-left: 130px;
  }
  div.content {
    position: relative;
    width: 100%;
  }
  div.sidebar {
    position: relative;
    width: 100%;
  }
  div.row.playing {
    background: url('/img/bars.gif') no-repeat;
    background-position: bottom 5px right 5px;
  }
  div.row.playing .title{
    background: none;
    text-indent: 0px;
  }
}
